<!-- html for changing password  -->
<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
    <div class="container">
        <span *ngIf="errorMessage" class="mat-error">{{errorMessage}}</span>
        <div class="row">
            <div class="col-md-6 mb-3">
                <!-- current password field -->
                <label for="confirm">Current Password</label>
                <input type="password" name="confirm" [(ngModel)]="currentPassword">
            </div>
        </div>
        <div class="row">
            <!-- new password field -->
            <div class="col-md-6 mb-3">
                <label for="confirm">New Password</label>
                <input type="password" name="confirm" [(ngModel)]="newPassword">
            </div>
        </div>
        <div class="row">
            <!-- confirm the new password field -->
            <div class="col-md-6 mb-3">
                <label for="confirm">Confirm Password</label>
                <input type="password" name="confirm" [(ngModel)]="confirmNewPassword">
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <!-- closes dialog without doing anything -->
    <button mat-button (click)="close()">Cancel</button>
    <!-- changes password if the new passwords match -->
    <button color="primary" mat-raised-button mat-button (click)="changePassword()">Submit</button>
</div>