<!-- checks if editing/creating event -->
<h1 mat-dialog-title *ngIf="!eventTime">Create Event Time</h1>
<h1 mat-dialog-title *ngIf="eventTime">Edit Event Time</h1>
<!-- calls createOrEdit when submitted and create instance of eventForm -->
<form [formGroup]="eventTimeForm" (ngSubmit)="createOrEdit()">
    <div class="container" mat-dialog-content>
        <div class="row">
            <!-- name field  -->
            <div class="col-6 mb-3">
                <mat-label>Event</mat-label>
                <mat-form-field appearance="fill">
                    <input type="text" matInput [(ngModel)]="eventName" disabled [ngModelOptions]="{standalone: true}">
                    <button mat-icon-button matSuffix type="button" (click)="openSelectEvent()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <mat-error *ngIf="!eventName">Event is required!</mat-error>
            </div>
        </div>
        <div class="row">
            <!-- start time field -->
            <div class="col-6 mb-3">
                <mat-form-field [style.width.%]=99>
                    <mat-label>Start Time</mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="start_time">
                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [enableMeridian]="true" [defaultTime]="[0,0,0]">
                    </ngx-mat-datetime-picker>
                    <mat-error *ngIf="eventTimeForm.get('start_time')?.hasError('required')">Start time is required!</mat-error>
                 </mat-form-field>
            </div>
            <!-- end time field -->
            <div class="col-6 mb-3">
                <mat-form-field [style.width.%]=99>
                    <mat-label>End Time</mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" formControlName="end_time">
                    <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker2 [enableMeridian]="true" [defaultTime]="[0,0,0]">
                    </ngx-mat-datetime-picker>
                    <mat-error *ngIf="eventTimeForm.get('end_time')?.hasError('required')">End time is required!</mat-error>
                 </mat-form-field>
            </div>
        </div>
        <!-- api error messages -->
        <mat-error *ngIf="apiError">
            {{apiError}}
        </mat-error>
        <!-- error when end time less than start time -->
        <mat-error *ngIf="eventTimeForm.get('end_time')?.hasError('invalidDateTime')">
            End Time must be greater than Start Time
        </mat-error>
    </div>
    <div mat-dialog-actions align="end">
        <!-- closes the dialog -->
        <button mat-button type="button" (click)="close()">Cancel</button>
        <!-- submits the form to create/edit event time -->
        <button mat-button mat-raised-button color="primary" [disabled]="eventTimeForm.invalid || !eventName">
            <span *ngIf="!eventTime">Create</span>
            <span *ngIf="eventTime">Edit</span>
        </button>
    </div>
</form>