<!-- navbar for users -->
<header>
  <mat-toolbar class="mat-toolbar mat-primary">
    <mat-toolbar-row>
      <!-- navigation links to access components and modules -->
      <a mat-button routerLink="/">Student Points Management System</a>
      <a mat-button routerLink="/quarters">Quarters</a>
      <a mat-button *ngIf="isAdmin" routerLink="/users">Users</a>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu" aria-label="User">
        <mat-icon [style.margin-right.px]=10>person</mat-icon>
        <span>{{name}}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <!-- used to access the profile of the current user -->
        <button mat-menu-item (click)="profile()">
          <mat-icon>settings</mat-icon>
          <span>Profile</span>
        </button>
        <!-- used to change password of the current user -->
        <button mat-menu-item (click)="changePassword()">
          <mat-icon>vpn_key</mat-icon>
          <span>Change Password</span>
        </button>
        <!-- used to logout current user -->
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>